<a href="/poll/list" id="leave_poll_details" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
<h1><%= poll.title %></h1>
<% if(poll.description){ %>
<p><%= poll.description %></p>
<% } %>

<section class="well" id="poll_option_contain">
    <h3>Voting Options</h3>
    <div class="poll_options">
        <% var arrDatasets = []; %>
        <%
        var arrColorData = [
            {strBootstrapClassExt: 'primary', strColor: '#357EBD', strHighlight:'#428BCA'},
            {strBootstrapClassExt: 'success', strColor: '#4CAE4C', strHighlight:'#5CB85C'},
            {strBootstrapClassExt: 'info', strColor: '#46B8DA', strHighlight:'#5BC0DE'},
            {strBootstrapClassExt: 'warning', strColor: '#EEA236', strHighlight:'#F0AD4E'},
            {strBootstrapClassExt: 'danger', strColor: '#D43F3A', strHighlight:'#D9534F'},
            {strBootstrapClassExt: 'default', strColor: '#CCCCCC', strHighlight:'#DDDDDD'}
        ];
        %>
        <% var intDataPos = 0; %>
        <% _.each(poll.options, function(polloption){ %>
            <% if(polloption.label){ %>
            <% var objColorData = arrColorData[intDataPos]; %>
            <a class="poll_option_vote btn btn-<%=objColorData.strBootstrapClassExt%>" data-polloptionid="<%=polloption.id%>" data-datapos="<%=intDataPos%>" href="#"><span class="glyphicon glyphicon-check"></span> <%=polloption.label%></a>
            <%
            var objDataset = {
                label: polloption.label,
                color: objColorData.strColor,
                highlight: objColorData.strHighlight,
                value: polloption.votes
            };
            arrDatasets.push(objDataset);
            %>
            <% intDataPos++; %>
            <% } %>
        <% }); %>
    </div>
</section>

<section class="col-lg-6 col-md-8 col-xs-12">
    <canvas id="poll_chart_pie" width="400" height="400"></canvas>
</section>

<script>
    var pollDataPie = <%-JSON.stringify(arrDatasets)%>;
    var pollId = <%= poll.id %>;
</script>