<a href="/poll/list" id="leave_poll_details" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
<h1><%= poll.title %></h1>
<% if(poll.description){ %>
<p><%= poll.description %></p>
<% } %>

<canvas id="poll_chart" width="400" height="400"></canvas>

<div class="poll_options">
<% var arrOptionLabels = []; %>
<% var arrOptionVotes = []; %>
<% var intDataPos = 0; %>
<% _.each(poll.options, function(polloption){ %>
    <% if(polloption.label){ %>
    <% arrOptionLabels.push(polloption.label);%>
    <% arrOptionVotes.push(polloption.votes);%>
    <a class="poll_option_vote col-xs-2 btn btn-primary" data-polloptionid="<%=polloption.id%>" data-datapos="<%=intDataPos%>" href="#"><span class="glyphicon glyphicon-check"></span> <%=polloption.label%></a>
    <% intDataPos++; %>
    <% } %>
<% }); %>
</div>

<script>
    var pollData = {
    intPollId: <%= poll.id %>,
    labels: <%-JSON.stringify(arrOptionLabels)%>,
    datasets: [
        {
            label: "<%= poll.title %> votes",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: <%-JSON.stringify(arrOptionVotes)%>
        }
    ]
};
</script>